
// Config <-darkgunmetal ( #1c192e | <black> | 000 ) -----------
@syntax-hue:          247;
@syntax-saturation:   29%;
@syntax-brightness:   14%;


// Monochrome -------------------------------------------------------
@mono-1:   hsl(240,  2%, 92%);       // <-isabelline (#eaeaeb)
@mono-1-2: hsl(227,  4%, 61%);       // <-spanishgrey (#96989f)
@mono-2:   hsl(255,  5%, 45%);       // <-oldlavendar (#6F6C78)
@mono-3:   hsl(255, 11%, 29%);       // <-purpletaupe ( #464252 | <lightBlack | 008 )

// Theme Colors ( <hyper-name> | #XXXXXX | spectrum ) ---------------
@hue-1:    hsl( 90, 100%, 95%);      // <-honeydew ( #f3ffe7 | <white> | 007 )
@hue-1-2:  hsl( 240,  2%, 92%);      // <-isabelline ( #eaeaeb | <lightWhite> | 015 )
@hue-2:    hsl( 195, 53%, 43%);      // <-steelblue ( #348aa7 | <blue> | 004 )
@hue-2-2:  hsl( 196, 40%, 68%);      // <-darkskyblue ( #8dbdec | <lightBlue> | 012 )
@hue-3:    hsl( 317, 86%, 36%);      // <-flirt ( #ac0c7e | <magenta> | 005 )
@hue-3-2:  hsl( 318, 49%, 54%);      // <-mulberry ( #c24f9f | <lightMagenta> | 013 )
@hue-4:    hsl(  80, 27%, 46%);      // <-turtlegreen ( #809556 | <green> | 002 )
@hue-4-2:  hsl(  80, 23%, 63%);      // <-sage ( #a8b68b | <lightGreen> | 010 )
@hue-5:    hsl(   9, 76%, 35%);      // <-sienna ( #9b2915 | <red> | 001 )
@hue-5-2:  hsl(   9, 76%, 56%);      // <-carminepink ( #e4533a | <lightRed> | 009 )
@hue-6:    hsl( 90, 100%, 50%);      // <-chartreuse ( #7fff00 | <yellow> | 003 )
@hue-6-2:  hsl( 90, 100%, 77%);      // <-inchworm ( #b3ff66 | <lightYellow> | 011 )
@hue-7:    hsl(195,  40%, 64%);      // <-moonstoneblue ( #7db4c7 | <cyan> | 006 )
@hue-7-2:  hsl(200,  46%, 75%);      // <-palecerulean ( #a0c8dc | <lightCyan> | 014 )


// Base syntax colors -----------------------------------------------
@syntax-fg:         @hue-1;
@syntax-bg:         hsl(@syntax-hue, @syntax-saturation, @syntax-brightness);
@syntax-gutter:     @mono-3;
@syntax-guide:      fade(@syntax-fg, 10%);
@syntax-accent:     hsl(@syntax-hue, 100%, 76% );
